* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2pc;
    align-items: center;
  }
  .content {
    padding: 10px;
    background: #e9e9e9a3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 0px 6px 1px #80808057;
    border-radius: 5px;
  }
  .content .inputBox {
    display: flex;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.382);
    border-radius: 5px;
    padding: 7px;
    background-color: rgb(237 220 154 / 31%);
    justify-content: space-between;
  }
  .content .inputBox input {
    border: none;
    padding: 6px;
    font-size: 15px;
    outline: none;
    background: transparent;
    width: -webkit-fill-available;
  }
  .content .inputBox button {
    width: 15vw;
    background-color: orangered;
    padding: 10px;
    border-radius: 2pc;
    outline: none;
    color: white;
    font-weight: bold;
    border: white;
    cursor: pointer;
  }
  .listText {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  
  .content .task {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }
  .content .task img {
    width: 20px;
  }
  .content .task {
    list-style: none;
  }
  .content .task span :active {
    text-decoration: line-through;
  }
  .content .task button{
      border: 1px solid rgba(128, 128, 128, 0.449);
      padding: 5px;
      border-radius: 3px;
      background-color: transparent;
  }
